
body {
    background-color: #B2E0C2 ;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    margin: 0px;
}
.navigation {
    margin: 0px;
    padding-left: 25px;
}
.navigation li {
    margin-top: 49px;
    margin-bottom: 49px;
}
.navigation ul {
    padding-left: 100px;
}
a:hover {
    border: solid 1px;
    margin: -1px;
}
#unordered_list_wrapper { 
    height: 117px;
    background-color: #33AD5C;
    color: #CCFFCC;
}
header {
    background-color: #006600 ;
    padding: 5px;
    width: 135px;
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 5px;
    color: #CCFFCC;
}
h1 {
    float: left;    
    font-family: 'Quicksand', sans-serif;
    margin-top: 40px;
    padding-right: 50px;
}

li {
    display: inline-block;
}
.navigation a {
    color: #CCFFCC;
}

a {
    color: gray;
    text-decoration: none;
    border: 10px;
    padding: 25px
}

#posts_wrapper {
    background-color: #D6EEDE;
    width: 75%%;
    padding: 5px  0px 5px 20px;
    border-radius: 5px;
    margin: 0px auto;
}

#comments_form_wrapper {
    margin: 10px;
    width: 400px;
}

#comments_wrapper {
    margin: 10px;
    padding: 5px;
}

#comment_text {
    background-color: #D6EEDE;
    width: 25%;
}

#my_posts {
    background-color: #D6EEDE;
    width: 300px;
    padding: 2px;
    margin: 5px;
}

input {
    height: 20px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
    color: #ffffff;
}

#post_and_comments {
    background-color: #29A629;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}

#yielded {
    margin-left: 200px;
}



div#posts_wrapper {
    margin: 5px;
    padding: 5px;
}
#delete_button {
    background-color: rgb(250, 100, 100);
    width: 110px;
}
