body {
    background-color: #B2E0C2 ;
    font-family: 'Poiret One';
    text-decoration: none;
    margin: 0px;
}

ul.navigation {

    background-color: #009933 ;
    margin: 0px;
}

header {
    background-color: #33AD5C ;
    padding: 5px;
    width: 135px;
    position: fixed;
    left: 80%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

nav {
    background-color: #CCFFFF ;
    border-radius: 5px;
    text-align: center;
    margin: none;
}

li {
    display: inline-block;
    text-align: center;
    margin: 10px 50px 30px 50px;
}

a {
    color: gray;
    text-decoration: none;
}

li a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li a:hover {
    text-decoration: underline;
}

#posts_wrapper {
    background-color: #D6EEDE;
    width: 75%%;
    padding: 5px  0px 5px 20px;
    border-radius: 5px;
    margin: 0px auto;

}

#comments_form_wrapper {
    margin: 10px;
    width: 400px;
}

#comments_wrapper {
    margin: 10px;
    padding: 5px;
}

#comment_text {
    background-color: #D6EEDE;
    width: 25%;

}

#my_posts {
    background-color: #D6EEDE;
    width: 300px;
    padding: 2px;
    margin: 5px;
}

input {
    height: 20px;
    border-radius: 5px;
    padding: 2px;
    margin: 2px;
}

#delete_button {
    background-color: rgb(250, 100, 100);
    width: 115px;
}
#post_and_comments {
    background-color: #29A629;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
}
h1 {
    float: left;
    color: #CCFFCC;
    
}

#yielded {
    margin-left: 200px;
}

.navigation li {
    margin-top: 25px;
}

div#posts_wrapper {
    margin: 5px;
    padding: 5px;
}

div#post_and_comments {
    margin-left: 25px;
}



